<ion-view cache-view="true">
    <ion-nav-buttons side="right">
        <a class="button button-icon"></a>
    </ion-nav-buttons>
    <ion-nav-title>
        <div class="bar bar-header bar-positive">
            <div class="title">{{title}}
            </div>
        </div>
    </ion-nav-title>
    <ion-content scroll="true" padding="true" id="maf-main">
        <button ng-click="lager_e()" ng-show="state != 'Production'" class="button button-block button-calm icon-right ion-chevron-right">
            lagger.error
        </button>
        <button ng-click="throw_e_0()" ng-show="state != 'Production'" class="button button-block button-calm icon-right ion-chevron-right">
            throwError0
        </button>
        <button ng-click="throw_e_1()" ng-show="state != 'Production'" class="button button-block button-calm icon-right ion-chevron-right">
            throwError1
        </button>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="program" ng-model="progSearch">
                </label>
            </div>
        <div class="list">
            <a ng-repeat="prog in progList | filter:progSearch" class="item">
                <h2>{{prog.title}}</h2>
                <span class="badge" ng-class="progsInRange(prog)">
                    {{prog.actual_processes}}
                </span>
            </a>
        </div>
        <div class="list">
            <a ng-repeat="serv in backLog" class="item">
                    <div class="card">
                            <div class="item item-text-wrap">
                                {{serv.SERVICE}} : 
                                {{serv.FILE_STATUS}}
                                <span class="badge badge-calm" ng-show="serv.FILE_STATUS=='CO'">{{serv.CNT}}</span>
                                <span class="badge badge-energized" ng-show="serv.FILE_STATUS=='IU'">{{serv.CNT}}</span>
                                <span class="badge badge-positive" ng-show="serv.FILE_STATUS=='RD'">{{serv.CNT}}</span>
                                <span class="badge badge-assertive" ng-show="serv.FILE_STATUS=='AF'">{{serv.CNT}}</span>
                            </div>
                    </div>
                <h2>{{backLog.title}}</h2>
            </a>
        </div>
    </ion-content>
</ion-view>
    